.highlights h1 {
    font-size: 45px;
    letter-spacing: 1px;
    width: 60%;
    font-weight: 400;
    background: linear-gradient(to right, rgb(139, 0, 76), 
        rgb(255, 0, 140));
    background-clip: text;
    color: transparent;
    margin-bottom: 50px;
}

.highlights .highlights-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlights .highlights-content .highlight-item {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
    box-shadow: 0 3px 5px #aaa6;
    justify-content: center;
    align-items: center;
}

.highlights .highlights-content .highlight-item:not(:last-child) {
    margin-right: 20px;
}

.highlights .highlights-content .highlight-item .detail {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.highlights .highlights-content .highlight-item img {
    width: 100%;
    height: 100%;
}

.highlights .highlights-content .highlight-item .detail h2 {
    align-self: flex-start;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
}

.highlights .highlights-content .highlight-item .detail p {
    width: 90%;
    color: #777;
}